{% load static %}
{% load django_bootstrap5 %}

<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'app_css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="shortcut icon" href="{% static 'pj_image/armx8-1ibhc-001.ico' %}" type="image/vnd.microsoft.icon">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
<!--
  <script src="{% static 'chat/js/chat.js' %}"></script>
-->
</head>
<body>
    <div class="container-fluid"> 
        <h1>Chat</h1>
    </div>
    <div class="container-fluid"> 
        <form method="POST">
            <div class="mb-3 row inline">
                <label for="target_type" class="col-sm-1 col-form-label">select:</label>
                    {{form.target_type}}
            </div>
            <div class="mb-3 row inline">
                <label for="{{form.sentence.name}}" class="col-sm-1 col-form-label">{{form.sentence.label}}:</label>
                <input type="" class="form-control w-50" name="{{form.sentence.name}}" id="{{form.sentence.name}}">
            </div>
                <button class="btn btn-secondary btn-lg" type="submit">Chat</button>
            </div>
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger m-4">{{ error }}</div>
            {% endfor %}
            {% if api_messages != "" %}
                <div>
                    <a>{{ api_messages }}</a>
                </div>
            {% endif %}
            {% for message in messages %}
                {% if message.role == "user" %}
                    <div class="alert alert-light mt-3" role="alert">
                        <a>{{ message.content }}</a>
                    </div>
                {% endif %}
                {% if message.role == "assistant" %}
                    <div class="alert alert-primary mt-3" role="alert">
                        <a>{{ message.content }}</a>
                    </div>
                {% endif %}
            {% endfor %}
            {% csrf_token %}
        </form>
    </div>
</body>
</html>